@charset "UTF-8";


@media screen  and (max-width: 1250px) {
    footer.main > .limiter {
        width: calc(100% - 100px);
        margin: auto;
    }
}

@media screen  and (max-width: 550px) {
    footer.main > .limiter > .container {
        flex-direction: column;
        gap: 12px;
    }

    footer.main > .limiter > .container > div:nth-child(2) {
        order: 1;
    }

    footer.main > .limiter > .container > div:nth-child(1) {
        order: 2;
    }
}